<form action="/todos" method="POST">
  {{!-- name 屬性: HTTP傳輸時的資料名稱，這些資料會被放在HTTP的 request body裡 --}}
  <input type="text" , placeholder="name" , name="name">
  <button type="submit">Create</button>
</form>